 <div id="user-info-top">
  <div>
   <% if current_user.picture? %>
   <%= image_tag current_user.picture.show.url,class: "user-thumb" %>
   <% else %>
   <%= image_tag("default.jpg", :size => "200x200",class: "user-thumb") %>
   <% end %>
   </div>
   <div class="user-name">
<%= current_user.name %>
</div>
<div class="show-user-pref ">
<%= current_user.prefecture %>
</div>
<div class="follow">
    <%= render "shared/follow_info" %>
</div>
</div>