<% provide(:title, "ユーザー編集") %>
<h1 class="title" style="text-align: center">ユーザーの編集</h1>
<div class="row">
<div class="form-horizontal col-md-6 col-md-offset-3" role="form">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
        <%= render 'shared/error_messages', object: f.object %>

      
        <%= f.label :name, 'ニックネーム', class:'control-label' %>
        <%= f.text_field :name,  class: 'form-control' %>

      <%= f.label :prefecture, '住んでいる県', class:'control-label' %>
    
       <%= f.select :prefecture, ["神奈川県", "埼玉県", "東京都", "千葉県", "群馬県" ] ,{:prompt => "選択してください"}, {class: 'form-control'} %>
     
     <div class="picture">
       <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
       </div>
        <%= f.label :password, 'パスワード', class:'control-label' %>
    
     
    <%= f.text_field :password,   class: 'form-control' %>
     
     
     
        <%= f.label :password_confirmation, '確認用パスワード', class:'control-label' %>
    
      <%= f.text_field :password_confirmation,  class: 'form-control' %>
    
    </div>
  <%= f.submit '変更', class: "btn btn-primary form-control mt-4" %>
  <% end %>
 
 <div>
     <h2>ユーザーの削除</h2>
  <%= link_to "ユーザー削除", @user, method: :delete, data: { confirm: "You sure?" }, class: "delete-button btn btn-danger mt-5" %>
 </div>
</div>
</div>

<script type="text/javascript">
  $('#picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズが大きすぎます');
    }
  });
</script>
