<h1>ユーザ<%= @user.id %>詳細画面</h1>
<div class="row">
<section class="user-show col-md-4">
    
    <%= image_tag @user.picture.show.url,class: "user-thumb" if @user.picture? %>

<div class="show-name">
<%= @user.name %>
</div>
<div class="show-user-pref">
<%= @user.prefecture %>
</div>
<% if current_user? %>
<%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
<% end %>

</section>
<section class="post-list col-md-8">
   <%= render 'shared/feed'%>
</section>
</div> 
