
<div class="row"  style="text-align: center">
<section class="user-show col-md-3">
    
    <%= image_tag @user.picture.show.url, :size => '200x200',class: "user-thumb"  %>
<div class="user-name">
<%= @user.name %>
</div>
<% if @user.prefecture!="" %>
<div class="show-user-pref">
<%= @user.prefecture %>
</div>
<% end %>
<div class="follow">
    <%= render "shared/follow_info" %>
</div>
<%= render "shared/follow_form" unless current_user?%>
<%= render 'entries/entry_form' unless current_user?%>
<%= render "shared/tag_list" %>
</section>
<%= render "shared/favandfeed" %>
</div> 

