
<div class="row">
<section class="user-show col-md-4">
    
    <%= image_tag @user.picture.show.url, :size => '200x200',class: "user-thumb"  %>

<div class="show-name">
<%= @user.name %>
</div>
<div class="show-user-pref">
<%= @user.prefecture %>
</div>
<div class="follow">
    <%= render "shared/follow_info" %>
</div>

<%= render "shared/follow_form" %>
<%= render 'entries/entry_form' unless current_user?%>

</section>
<%= render "shared/favandfeed" %>
</div> 

