<div class="post-ident post-<%= post.id %>">
    <a href="<%= user_path(post.user)%>">
    <span class="post-user-image">
        <%= image_tag post.user.picture.show.url,:size => '70x70',class: "user-thumb" %>
    </span>
    </a>
    <span class="post-user-name"><%= link_to  post.user.name, post.user %></span>
    <a href="<%= post_path(post)%>">
    <span class="content">
       <p><%= post.title %></p><% if post.tag %> <p>ジャンル:<%= post.tag%></p> <% end %>
        </span>
        <div class="post_image">
    <%= image_tag post.picture.show.url if post.picture?%>
     </div>
     <div id="post-details">
        <span id="post-fav-detail"><%= post.like_people.count %>いいね</span> <span id="post-create-detail"><%= time_ago_in_words(post.created_at) %> 前に投稿.</span>
     </div>
     </a>
</div>
