<%= form_for(@post) do |f| %>
    <div class="form-group" >
    <%= render 'shared/error_messages', object: f.object%>

       <%= f.label :title, 'タイトル', class:'control-label' %>
        <%= f.text_area :title,  class: 'form-control' %>
        <%= f.label :content, '感想などご自由にお書きください', class:'control-label' %>
        <%= f.text_area :content,  class: 'form-control', :size=>"60x10" %>
        <%= f.hidden_field :latitude, {value:"", id: "hidden_latitude"} %>
        <%= f.hidden_field :longitude, {value:"", id: "hidden_longitude"} %>
        <span class="post_picture">
       <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %>
       </span>
    </div>
  <%= f.submit '投稿', class: "btn btn-primary form-control mt-4" %>
  <% end %>
  <h2>gmap</h2>
 <div id="map3"></div>
 <style>
#map3{
height: 500px;
width: 500px;
}

</style>

<script type="text/javascript">
    
   if (navigator.geolocation) {
        // 現在地を取得
        navigator.geolocation.getCurrentPosition(
          // 取得成功した場合
         
          function(position) {
            // 緯度・経度を変数に格納
            var initLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // マップオプションを変数に格納
            var mapOptions = {
              zoom : 14,          // 拡大倍率
              center : initLatLng  // 緯度・経度
            };
            // マップオブジェクト作成
            var map = new google.maps.Map(
              document.getElementById("map3"), // マップを表示する要素
              mapOptions         // マップオプション
            );
            //　マップにマーカーを表示する
            var marker = new google.maps.Marker({
              map : map,             // 対象の地図オブジェクト
              position : initLatLng   // 緯度・経度
            });
            map.addListener('click', function mylistener(event) {
             document.getElementById('hidden_latitude').setAttribute("value",event.latLng.lat())
             document.getElementById('hidden_longitude').setAttribute("value",event.latLng.lng())
             var myLatlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
             marker.setPosition(myLatlng);
             
      });
          },
          // 取得失敗した場合
          function(error) {
            // エラーメッセージを表示
            switch(error.code) {
              case 1: // PERMISSION_DENIED
                alert("位置情報の利用が許可されていません");
                break;
              case 2: // POSITION_UNAVAILABLE
                alert("現在位置が取得できませんでした");
                break;
              case 3: // TIMEOUT
                alert("タイムアウトになりました");
                break;
              default:
                alert("その他のエラー(エラーコード:"+error.code+")");
                break;
            }
          }
        );
      // Geolocation APIに対応していない
      } else {
        alert("この端末では位置情報が取得できません");
      }  

    </script>
  