<h1 >投稿の検索</h1>
<section id="posts-search">
<section id="word-post-search">
<div class="row">
<%= form_tag(posts_path, :method => "get") do %>
<div class="form-group ranking-form">
<label for="search-post-form">キーワード</label>
 <%= text_field_tag :search,"" ,class: "form-control",id: "search-post-form" %> 
 </div>
 <div class="form-group ranking-form">
 <label for="place-post-form">地名</label>
 <%= text_field_tag :prefecture,"", class: "form-control",id: "place-post-form" %>
 </div>
 <div>
<%= submit_tag "検索" ,class: "post-search-buttton button btn-primary col-xs-offset-3 col-xs-6"%> 
</div>
<% end %> 
</div>
</section>

</section>

<section id="posts-list">
    <%  if @posts %>
    <%= render @posts %>
    <%= will_paginate %>
    <% end %>
</section>