<div class="post-show row">
    <section class="post-show col-md-7">
<section class="about-user"><%= image_tag @post.user.picture.show.url, :size => '70x70',class: "user-thumb" if @post.user.picture? %>
<%= @post.user.name %>
</section>

<section classs="about-post mt-4">
     <div class="post_image">
    <%= image_tag @post.picture.url,class: "post-show-image" if @post.picture? %>
     </div>
     
     <div class="post-title">
        <h3> <%= @post.title %></h3>
     </div>
     
     <div>
    <%= simple_format(@post.content, class: "post-content") %>
    
    </div>
    </section>
<div>
<%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
</div>
<div>
    <%= link_to "削除", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>

</div>
</section>

<section class="other-post col-md-5">
    
    
</section>
</div>