<div class="post-show row">
    <section class="post-show col-md-7">
<section class="about-user"><%= image_tag @post.user.picture.show.url, :size => '70x70',class: "user-thumb"  %>
<%= @post.user.name %>
<span id="post-show-title"><%= @post.title %></span>
<span id="post-edit-link" style="float: right">
    <% if current_user==@post.user %>
<%= link_to "投稿の編集", edit_post_path(@post) %>
<%= link_to "投稿の削除", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
                                       <% end %>
 </span>                                      
</section>

<section classs="about-post mt-4">
     <div class="post_image">
    <%= image_tag @post.picture.url,class: "post-show-image" if @post.picture? %>
     </div>
     <div id="post-show-favorite">
         <%= render 'shared/favorite_form' %><p id="post-showfavorite-number"><%= @post.like_people.count %>いいね</p>
         </div>
         
    <%= simple_format(@post.content) %>
    
    </section>
<section id="comments-area">
    <%=render 'comments/comments_form' %>
    <div id="comment-area">
        <%= @comments.count %>件のコメント
        <ul class="list-group">
        <%= render @comments %>
      </ul>
      <%= will_paginate @comments %>
    </div>
</section>

</section>

<% if @post.address %>
<section class="other-post col-md-5">
    <h2>gmap</h2>
    <div id="address"><%= @post.address %></div>
    <div id="map1"></div>
</section>
<% end %>

</div>

<style>
#map1{
  height: 500px;
  width: 500px;
}
</style>
    
    
<script type="text/javascript">
      var mapDiv1 = document.getElementById("map1");
      var LatLng = new google.maps.LatLng(<%= @post.latitude %>, <%= @post.longitude %>);
var opts1 = {
    zoom: 13,
    center: LatLng
};

var map1 = new google.maps.Map(mapDiv1, opts1);
 var marker = new google.maps.Marker({
              map : map1,             // 対象の地図オブジェクト
              position : LatLng   // 緯度・経度
            })

    </script>