<div class="post-show row">
    <section class="post-show col-md-7">
<section class="about-user"><%= image_tag @post.user.picture.show.url, :size => '70x70',class: "user-thumb"  %>
<%= @post.user.name %>
<span id="post-show-title"><%= @post.title %></span>
<span id="post-edit-link" style="float: right">
<%= link_to "投稿の編集", edit_post_path(@post) %>
<%= link_to "投稿の削除", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
 </span>                                      
</section>

<section classs="about-post mt-4">
     <div class="post_image">
    <%= image_tag @post.picture.url,class: "post-show-image" if @post.picture? %>
     </div>
     <div id="post-show-favorite">
         <%= render 'shared/favorite_form' %><p id="post-showfavorite-number"><%= @post.like_people.count %>いいね</p>
         </div>
         
    <%= simple_format(@post.content) %>
    
    </section>


</section>

<section class="other-post col-md-5">
    
    
</section>
</div>