 <header class="navbar navbar-fixed-top navbar-default" id="navbar-top">
  <div class="container-header">
   <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 追記ここまで-->

      <%= link_to "sample app", root_path, id: "logo" %>

    <!-- 追記ここから-->
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li><%= link_to "home", root_path %></li>
         <li><%= link_to "サイトについて", about_path %></li>
         <li><%= link_to "投稿ランキング", ranking_posts_path %></li>
         <li><%= link_to "投稿記事の検索", posts_path %></li>
        <% if login? %>
        <li><%= link_to "ユーザー検索", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ユーザー情報", current_user %></li>
              <li><%= link_to "DM一覧", rooms_path %></li>
              <li><%= link_to "編集", edit_user_path(current_user) %></li>
              <li><%= link_to "投稿", new_post_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>