<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwIZI1hZjml_pw9h3Sa4velg639vJRe5U&callback=initMap" >
   </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <%= render 'shared/flash' %>
    <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
  
</html>
